@tailwind base;
@tailwind components;
@tailwind utilities;

.outline_button {
  border: 1px solid #ff6d00;
  padding: 1px 8px;
  border-radius: 30px;
  color: #ff6d00;
  transition: all 0.2s ease-in-out;
}

.filled_button {
  border: 1px solid #ff6d00;
  padding: 1px 8px;
  border-radius: 30px;
  color: white;
  background-color: #ff6d00;
  transition: all 0.2s ease-in-out;
}

.filled_button:hover {
  background-color: white;
  color: #FF6D00;
}

.outline_button:hover {
  background-color: #ff6d00;
  color: white;
}

.modal_input {
  border: 1px solid black;
  border-radius: 30px;
  padding: 1px 15px;
}

.hamburger {
  display: block;
  width: 30px;
  height: 25px;
  position: absolute;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.line {
  width: 100%;
  height: 3px;
  background: #FF6D00;
  position: absolute;
  left: 0;
  transition: all 0.2s ease-in-out;
  border-radius: 30px;
}

.line:nth-child(1) {
  top: 0;
}

.line:nth-child(2)
 {
  top: 8px;
}

.line:nth-child(3) {
    top: 16px;
}

nav.active {
    width: 20rem;
}

.selected {
  color: #FF6D00;
  background-color: white;
  font-weight: bold;
}

.hamburger.active {
  left: 20rem;
}

.hamburger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -6px);
}

.box_shadow {
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.smallCard:hover {
  background-color: #FF6D00;
  cursor: pointer;
}

.smallCard:hover h1 {
  color: white;
}
.smallCard:hover h2 {
  color: white;
}
.smallCard:hover span {
  color: white;
}

.subHeader {
  color: #FF6D00;
  font-weight: bold;
  font-size: 20px;
}

td[id^="status"] {
  text-align: right;
}
th[id^="Status"] {
  text-align: right;
}

td[id^="task"] {
  text-align: left;
}
th[id^="Task"] {
  text-align: left;
}

td[id="status-Completed"] span {
  background-color: rgb(43, 238, 43);
  color: white;
  border-radius: 5px;
  padding: 1px 3px;
  font-weight: 600;
}

td[id="status-In Progress"] span {
  background-color: rgb(59, 167, 255);
  color: white;
  border-radius: 5px;
  padding: 1px 3px;
  font-weight: 600;
}

td[id="status-Pending"] span {
  background-color: rgb(238, 202, 43);
  color: white;
  border-radius: 5px;
  padding: 1px 3px;
  font-weight: 600;
}

td[id="status-Scheduled"] span {
  background-color: rgb(218, 44, 241);
  color: white;
  border-radius: 5px;
  padding: 1px 3px;
  font-weight: 600;
}